.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

.img_container {
    display: flex;
    justify-content: center;
}

.img_container img{
    max-height: 80vh;
}

.price_container{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem 0;
}

.price{
    font-weight: bold;
    font-size: 1.5rem;
}